div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_5 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 1046.95, -5.5);
	opacity: 1;
}
1.69% {
	-webkit-transform: matrix(1, 0, 0, 1, 1019.389, -5.5);
}
3.38% {
	-webkit-transform: matrix(1, 0, 0, 1, 992.299, -5.5);
}
5.08% {
	-webkit-transform: matrix(1, 0, 0, 1, 965.68, -5.5);
}
6.77% {
	-webkit-transform: matrix(1, 0, 0, 1, 939.533, -5.5);
}
8.47% {
	-webkit-transform: matrix(1, 0, 0, 1, 913.856, -5.5);
}
10.16% {
	-webkit-transform: matrix(1, 0, 0, 1, 888.651, -5.5);
}
11.86% {
	-webkit-transform: matrix(1, 0, 0, 1, 863.916, -5.5);
}
13.55% {
	-webkit-transform: matrix(1, 0, 0, 1, 839.653, -5.5);
}
15.25% {
	-webkit-transform: matrix(1, 0, 0, 1, 815.861, -5.5);
}
16.94% {
	-webkit-transform: matrix(1, 0, 0, 1, 792.54, -5.5);
}
18.64% {
	-webkit-transform: matrix(1, 0, 0, 1, 769.691, -5.5);
}
20.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 747.312, -5.5);
}
22.03% {
	-webkit-transform: matrix(1, 0, 0, 1, 725.404, -5.5);
}
23.72% {
	-webkit-transform: matrix(1, 0, 0, 1, 703.968, -5.5);
}
25.42% {
	-webkit-transform: matrix(1, 0, 0, 1, 683.003, -5.5);
}
27.11% {
	-webkit-transform: matrix(1, 0, 0, 1, 662.509, -5.5);
}
28.81% {
	-webkit-transform: matrix(1, 0, 0, 1, 642.486, -5.5);
}
30.5% {
	-webkit-transform: matrix(1, 0, 0, 1, 622.934, -5.5);
}
32.2% {
	-webkit-transform: matrix(1, 0, 0, 1, 603.853, -5.5);
}
33.89% {
	-webkit-transform: matrix(1, 0, 0, 1, 585.244, -5.5);
}
35.59% {
	-webkit-transform: matrix(1, 0, 0, 1, 567.105, -5.5);
}
37.28% {
	-webkit-transform: matrix(1, 0, 0, 1, 549.438, -5.5);
}
38.98% {
	-webkit-transform: matrix(1, 0, 0, 1, 532.242, -5.5);
}
40.67% {
	-webkit-transform: matrix(1, 0, 0, 1, 515.517, -5.5);
}
42.37% {
	-webkit-transform: matrix(1, 0, 0, 1, 499.263, -5.5);
}
44.06% {
	-webkit-transform: matrix(1, 0, 0, 1, 483.48, -5.5);
}
45.76% {
	-webkit-transform: matrix(1, 0, 0, 1, 468.168, -5.5);
}
47.45% {
	-webkit-transform: matrix(1, 0, 0, 1, 453.327, -5.5);
}
49.15% {
	-webkit-transform: matrix(1, 0, 0, 1, 438.958, -5.5);
}
50.84% {
	-webkit-transform: matrix(1, 0, 0, 1, 425.06, -5.5);
}
52.54% {
	-webkit-transform: matrix(1, 0, 0, 1, 411.633, -5.5);
}
54.23% {
	-webkit-transform: matrix(1, 0, 0, 1, 398.677, -5.5);
}
55.93% {
	-webkit-transform: matrix(1, 0, 0, 1, 386.192, -5.5);
}
57.62% {
	-webkit-transform: matrix(1, 0, 0, 1, 374.178, -5.5);
}
59.32% {
	-webkit-transform: matrix(1, 0, 0, 1, 362.635, -5.5);
}
61.01% {
	-webkit-transform: matrix(1, 0, 0, 1, 351.564, -5.5);
}
62.71% {
	-webkit-transform: matrix(1, 0, 0, 1, 340.963, -5.5);
}
64.4% {
	-webkit-transform: matrix(1, 0, 0, 1, 330.834, -5.5);
}
66.1% {
	-webkit-transform: matrix(1, 0, 0, 1, 321.176, -5.5);
}
67.79% {
	-webkit-transform: matrix(1, 0, 0, 1, 311.989, -5.5);
}
69.49% {
	-webkit-transform: matrix(1, 0, 0, 1, 303.273, -5.5);
}
71.18% {
	-webkit-transform: matrix(1, 0, 0, 1, 295.028, -5.5);
}
72.88% {
	-webkit-transform: matrix(1, 0, 0, 1, 287.255, -5.5);
}
74.57% {
	-webkit-transform: matrix(1, 0, 0, 1, 279.952, -5.5);
}
76.27% {
	-webkit-transform: matrix(1, 0, 0, 1, 273.121, -5.5);
}
77.96% {
	-webkit-transform: matrix(1, 0, 0, 1, 266.76, -5.5);
}
79.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 260.871, -5.5);
}
81.35% {
	-webkit-transform: matrix(1, 0, 0, 1, 255.453, -5.5);
}
83.05% {
	-webkit-transform: matrix(1, 0, 0, 1, 250.506, -5.5);
}
84.74% {
	-webkit-transform: matrix(1, 0, 0, 1, 246.031, -5.5);
}
86.44% {
	-webkit-transform: matrix(1, 0, 0, 1, 242.026, -5.5);
}
88.13% {
	-webkit-transform: matrix(1, 0, 0, 1, 238.493, -5.5);
}
89.83% {
	-webkit-transform: matrix(1, 0, 0, 1, 235.43, -5.5);
}
91.52% {
	-webkit-transform: matrix(1, 0, 0, 1, 232.839, -5.5);
}
93.22% {
	-webkit-transform: matrix(1, 0, 0, 1, 230.719, -5.5);
}
94.91% {
	-webkit-transform: matrix(1, 0, 0, 1, 229.07, -5.5);
}
96.61% {
	-webkit-transform: matrix(1, 0, 0, 1, 227.892, -5.5);
}
98.3% {
	-webkit-transform: matrix(1, 0, 0, 1, 227.186, -5.5);
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 226.95, -5.5);
}
}
@-webkit-keyframes wlby_KF_4 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 0;
}
1.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 2.79, 1.949);
	opacity: 0.033611;
}
3.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 5.532, 3.866);
	opacity: 0.0666475;
}
5% {
	-webkit-transform: matrix(1, 0, 0, 1, 8.226, 5.748);
	opacity: 0.0991095;
}
6.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 10.873, 7.598);
	opacity: 0.130997;
}
8.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 13.472, 9.414);
	opacity: 0.16231;
}
10% {
	-webkit-transform: matrix(1, 0, 0, 1, 16.023, 11.197);
	opacity: 0.193048;
}
11.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 18.527, 12.946);
	opacity: 0.223212;
}
13.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 20.982, 14.662);
	opacity: 0.252801;
}
15% {
	-webkit-transform: matrix(1, 0, 0, 1, 23.391, 16.345);
	opacity: 0.281816;
}
16.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 25.751, 17.995);
	opacity: 0.310256;
}
18.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 28.064, 19.611);
	opacity: 0.338121;
}
20% {
	-webkit-transform: matrix(1, 0, 0, 1, 30.329, 21.194);
	opacity: 0.365412;
}
21.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 32.547, 22.743);
	opacity: 0.392129;
}
23.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 34.716, 24.26);
	opacity: 0.418271;
}
25% {
	-webkit-transform: matrix(1, 0, 0, 1, 36.839, 25.743);
	opacity: 0.443838;
}
26.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 38.913, 27.192);
	opacity: 0.468831;
}
28.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 40.94, 28.608);
	opacity: 0.493249;
}
30% {
	-webkit-transform: matrix(1, 0, 0, 1, 42.919, 29.991);
	opacity: 0.517093;
}
31.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 44.85, 31.341);
	opacity: 0.540362;
}
33.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 46.734, 32.657);
	opacity: 0.563057;
}
35% {
	-webkit-transform: matrix(1, 0, 0, 1, 48.57, 33.94);
	opacity: 0.585177;
}
36.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 50.358, 35.19);
	opacity: 0.606722;
}
38.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 52.099, 36.406);
	opacity: 0.627693;
}
40% {
	-webkit-transform: matrix(1, 0, 0, 1, 53.791, 37.589);
	opacity: 0.64809;
}
41.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 55.437, 38.739);
	opacity: 0.667912;
}
43.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 57.034, 39.855);
	opacity: 0.687159;
}
45% {
	-webkit-transform: matrix(1, 0, 0, 1, 58.584, 40.938);
	opacity: 0.705832;
}
46.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 60.086, 41.988);
	opacity: 0.72393;
}
48.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 61.541, 43.004);
	opacity: 0.741454;
}
50% {
	-webkit-transform: matrix(1, 0, 0, 1, 62.947, 43.987);
	opacity: 0.758403;
}
51.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 64.307, 44.937);
	opacity: 0.774777;
}
53.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 65.618, 45.853);
	opacity: 0.790577;
}
55% {
	-webkit-transform: matrix(1, 0, 0, 1, 66.882, 46.737);
	opacity: 0.805803;
}
56.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 68.098, 47.586);
	opacity: 0.820454;
}
58.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 69.266, 48.403);
	opacity: 0.83453;
}
60% {
	-webkit-transform: matrix(1, 0, 0, 1, 70.387, 49.186);
	opacity: 0.848032;
}
61.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 71.46, 49.936);
	opacity: 0.860959;
}
63.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 72.485, 50.652);
	opacity: 0.873312;
}
65% {
	-webkit-transform: matrix(1, 0, 0, 1, 73.463, 51.335);
	opacity: 0.88509;
}
66.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 74.392, 51.985);
	opacity: 0.896294;
}
68.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 75.275, 52.602);
	opacity: 0.906923;
}
70% {
	-webkit-transform: matrix(1, 0, 0, 1, 76.109, 53.185);
	opacity: 0.916978;
}
71.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 76.896, 53.735);
	opacity: 0.926458;
}
73.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 77.635, 54.251);
	opacity: 0.935363;
}
75% {
	-webkit-transform: matrix(1, 0, 0, 1, 78.327, 54.734);
	opacity: 0.943694;
}
76.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 78.97, 55.184);
	opacity: 0.951451;
}
78.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 79.567, 55.601);
	opacity: 0.958633;
}
80% {
	-webkit-transform: matrix(1, 0, 0, 1, 80.115, 55.984);
	opacity: 0.96524;
}
81.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 80.616, 56.334);
	opacity: 0.971273;
}
83.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 81.069, 56.65);
	opacity: 0.976731;
}
85% {
	-webkit-transform: matrix(1, 0, 0, 1, 81.474, 56.934);
	opacity: 0.981614;
}
86.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 81.832, 57.184);
	opacity: 0.985924;
}
88.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.142, 57.4);
	opacity: 0.989658;
}
90% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.404, 57.583);
	opacity: 0.992818;
}
91.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.619, 57.733);
	opacity: 0.995404;
}
93.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.785, 57.85);
	opacity: 0.997415;
}
95% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.905, 57.933);
	opacity: 0.998851;
}
96.66% {
	-webkit-transform: matrix(1, 0, 0, 1, 82.976, 57.983);
	opacity: 0.999713;
}
98.33% {
	-webkit-transform: matrix(1, 0, 0, 1, 83, 58);
	opacity: 0.999713;
}
98.34%, to {
	-webkit-transform: matrix(1, 0, 0, 1, 83, 58);
}
}
.wlby_5
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -323.95, -64.5);
}

.wlby_3
{
	position: absolute;
}

.wlby_7
{
	-webkit-animation-duration: 0.0416667s;
	display: none;
}

.wlby_2
{
	-webkit-animation-duration: 2.5s;
	-webkit-animation-name: wlby_KF_4;
	-webkit-transform: matrix(1, 0, 0, 1, 83, 58);
	-webkit-transform-origin: 300px 225.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_1
{
	-webkit-animation-duration: 0.0416667s;
	-webkit-transform: matrix(1, 0, 0, 1, 104.95, 78.95);
	-webkit-transform-origin: 300px 225.5px;
}

.wlby_4
{
	-webkit-animation-duration: 2.45833s;
	-webkit-animation-name: wlby_KF_5;
	-webkit-transform: matrix(1, 0, 0, 1, 226.95, -5.5);
	-webkit-transform-origin: 0px 0px;
}

.wlby_8
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,226.95,-5.5);
}

