div.wlby_movie
{
	background-color: #996600;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 550px;
	height: 400px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_button 
{
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wlby_KF_9 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, -0.059, 0.027);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_1 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, -0.05, 0);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_8 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, -0.032, -0.016);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_10 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, -0.002, 0.015);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_6 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.05);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_2 {
from, to {
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_11 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 0.047, -0.04);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_5 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, 0);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_7 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, -0.05);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_3 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, 0);
	opacity: 1;
}
}
@-webkit-keyframes wlby_KF_4 {
from {
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
}
to {
	-webkit-transform: matrix(1, 0, 0, 1, 9.05, 1.2);
	opacity: 1;
}
}
.wlby_183
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -165.2, -19.65);
}

.wlby_182
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -159.95, -19.65);
}

.wlby_180
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -90.45, -41.55);
}

.wlby_171
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_9;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -0.059, 0.027);
	-webkit-transform-origin: 250.043px 144.071px;
	-webkit-animation-timing-function: linear;
}

.wlby_65
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_1;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -0.05, 0);
	-webkit-transform-origin: 198.8px 258.3px;
	-webkit-animation-timing-function: linear;
}

.wlby_1
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_1;
	-webkit-transform: matrix(1, 0, 0, 1, -0.05, 0);
	-webkit-transform-origin: 366.65px 251.55px;
	-webkit-animation-timing-function: linear;
}

.wlby_168
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_8;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -0.032, -0.016);
	-webkit-transform-origin: 250.075px 144.088px;
	-webkit-animation-timing-function: linear;
}

.wlby_175
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_10;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, -0.002, 0.015);
	-webkit-transform-origin: 300.1px 143.403px;
	-webkit-animation-timing-function: linear;
}

.wlby_40
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_6;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 0, -0.05);
	-webkit-transform-origin: 198.75px 258.35px;
	-webkit-animation-timing-function: linear;
}

.wlby_5
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
}

.wlby_75
{
	-webkit-animation-duration: 7.83333s;
}

.wlby_72
{
	-webkit-animation-duration: 7.91667s;
}

.wlby_3
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_2;
	display: none;
	-webkit-transform-origin: 366.6px 251.55px;
	-webkit-animation-timing-function: linear;
}

.wlby_177
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_11;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 0.047, -0.04);
	-webkit-transform-origin: 300.098px 143.418px;
	-webkit-animation-timing-function: linear;
}

.wlby_38
{
	-webkit-animation-duration: 0.25s;
	-webkit-animation-name: wlby_KF_5;
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, 0);
	-webkit-transform-origin: 198.7px 258.35px;
	-webkit-animation-timing-function: linear;
}

.wlby_62
{
	-webkit-animation-duration: 0.666667s;
	-webkit-animation-name: wlby_KF_7;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, -0.05);
	-webkit-transform-origin: 198.75px 258.3px;
	-webkit-animation-timing-function: linear;
}

.wlby_29
{
	-webkit-animation-duration: 0.666667s;
	-webkit-animation-name: wlby_KF_3;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 0.05, 0);
	-webkit-transform-origin: 366.6px 251.55px;
	-webkit-animation-timing-function: linear;
}

.wlby_32
{
	-webkit-animation-duration: 0.333333s;
	-webkit-animation-name: wlby_KF_4;
	display: none;
	-webkit-transform: matrix(1, 0, 0, 1, 9.05, 1.2);
	-webkit-transform-origin: 366.6px 251.5px;
	-webkit-animation-timing-function: linear;
}

.wlby_66
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 87.647, 211.098);
}

.wlby_229
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 87.731, 211.227);
}

.wlby_232
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 98.397, 249.082);
}

.wlby_231
{
	-webkit-animation-duration: 1.83333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 98.397, 249.082);
}

.wlby_215
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 103.851, 248.076);
}

.wlby_230
{
	-webkit-animation-duration: 1.58333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 104.047, 251.332);
}

.wlby_217
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 105.001, 243.626);
}

.wlby_209
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 108.351, 242.476);
}

.wlby_216
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 108.351, 248.126);
}

.wlby_63
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 109.451, 242.476);
}

.wlby_210
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 109.501, 248.126);
}

.wlby_228
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 109.501, 250.376);
}

.wlby_212
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 110.601, 248.126);
}

.wlby_227
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 110.601, 250.376);
}

.wlby_225
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 112.851, 239.076);
}

.wlby_213
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 112.851, 244.726);
}

.wlby_214
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 113.951, 237.976);
}

.wlby_211
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 113.951, 240.226);
}

.wlby_220
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 115.101, 239.076);
}

.wlby_226
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 115.101, 240.226);
}

.wlby_224
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 115.101, 244.726);
}

.wlby_39
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 115.153, 240.13);
}

.wlby_41
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 115.245, 238.878);
}

.wlby_219
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 116.201, 240.226);
}

.wlby_221
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 116.203, 239.13);
}

.wlby_223
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 116.251, 250.326);
}

.wlby_222
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 117.351, 244.726);
}

.wlby_218
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 118.501, 248.076);
}

.wlby_73
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 166.247, 225.25);
}

.wlby_236
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 167.525, 205.725);
}

.wlby_233
{
	-webkit-animation-duration: 1.58333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 167.525, 205.725);
}

.wlby_235
{
	-webkit-animation-duration: 1.83333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 167.525, 205.725);
}

.wlby_234
{
	-webkit-animation-duration: 4.41667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 167.525, 205.725);
}

.wlby_238
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 211.5, 116.6);
}

.wlby_237
{
	-webkit-animation-duration: 7.83333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 211.5, 116.6);
}

.wlby_308
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 227.642, 146.67);
}

.wlby_307
{
	-webkit-animation-duration: 1.5s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 227.642, 146.67);
}

.wlby_328
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.084, 146.67);
}

.wlby_309
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.191, 147.194);
}

.wlby_310
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.217, 147.194);
}

.wlby_311
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.242, 147.194);
}

.wlby_312
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.267, 147.194);
}

.wlby_313
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.291, 147.194);
}

.wlby_314
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.314, 147.194);
}

.wlby_315
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.337, 147.194);
}

.wlby_316
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.359, 147.194);
}

.wlby_317
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.381, 147.194);
}

.wlby_318
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.402, 147.194);
}

.wlby_319
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.422, 147.194);
}

.wlby_320
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.442, 147.194);
}

.wlby_321
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.462, 147.194);
}

.wlby_322
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.481, 147.194);
}

.wlby_323
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.5, 147.194);
}

.wlby_324
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.518, 147.194);
}

.wlby_325
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.536, 147.194);
}

.wlby_326
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.554, 147.194);
}

.wlby_327
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.571, 147.194);
}

.wlby_240
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.876, 107.144);
}

.wlby_239
{
	-webkit-animation-duration: 7.83333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 228.876, 107.144);
}

.wlby_270
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 229.019, 194.65);
}

.wlby_269
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 229.792, 196.048);
}

.wlby_268
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 230.054, 196.945);
}

.wlby_267
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 230.317, 197.843);
}

.wlby_266
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 230.579, 198.74);
}

.wlby_265
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 230.842, 199.638);
}

.wlby_264
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 231.105, 200.535);
}

.wlby_263
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 231.367, 201.433);
}

.wlby_262
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 231.63, 202.33);
}

.wlby_261
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 231.892, 203.228);
}

.wlby_260
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 232.155, 204.125);
}

.wlby_259
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 232.417, 205.023);
}

.wlby_258
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 232.68, 205.92);
}

.wlby_306
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 232.771, 149.494);
}

.wlby_257
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 232.942, 206.818);
}

.wlby_256
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 233.204, 207.715);
}

.wlby_255
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 233.467, 208.118);
}

.wlby_254
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 233.729, 207.857);
}

.wlby_253
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 233.992, 207.593);
}

.wlby_252
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.254, 207.328);
}

.wlby_248
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.266, 206.273);
}

.wlby_250
{
	-webkit-animation-duration: 1.83333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.266, 206.273);
}

.wlby_251
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.516, 207.062);
}

.wlby_249
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.778, 206.796);
}

.wlby_283
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.968, 150.983);
}

.wlby_282
{
	-webkit-animation-duration: 0.583333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 234.968, 150.983);
}

.wlby_272
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 235.814, 150.983);
}

.wlby_271
{
	-webkit-animation-duration: 0.583333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 235.814, 150.983);
}

.wlby_305
{
	-webkit-animation-duration: 0.666667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 235.814, 150.983);
}

.wlby_284
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 235.825, 151.48);
}

.wlby_281
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 235.861, 151.48);
}

.wlby_285
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.165, 151.48);
}

.wlby_280
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.167, 151.48);
}

.wlby_279
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.386, 151.48);
}

.wlby_273
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.448, 151.48);
}

.wlby_286
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.495, 151.48);
}

.wlby_278
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.527, 151.48);
}

.wlby_274
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.543, 151.48);
}

.wlby_277
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.604, 151.48);
}

.wlby_275
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.604, 151.48);
}

.wlby_276
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.627, 151.48);
}

.wlby_304
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.717, 151.48);
}

.wlby_287
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 236.817, 151.48);
}

.wlby_303
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.095, 151.48);
}

.wlby_288
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.133, 151.48);
}

.wlby_290
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.245, 150.982);
}

.wlby_289
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.444, 151.48);
}

.wlby_302
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.452, 151.48);
}

.wlby_301
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.782, 151.48);
}

.wlby_291
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 237.984, 151.48);
}

.wlby_300
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.077, 151.48);
}

.wlby_292
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.184, 151.48);
}

.wlby_299
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.323, 151.48);
}

.wlby_293
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.349, 151.48);
}

.wlby_247
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.456, 207.517);
}

.wlby_294
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.475, 151.48);
}

.wlby_298
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.498, 151.48);
}

.wlby_331
{
	-webkit-animation-duration: 3.16667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.559, 139.64);
}

.wlby_295
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.559, 151.48);
}

.wlby_297
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.579, 151.48);
}

.wlby_296
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.596, 151.48);
}

.wlby_167
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.9, 141.525);
}

.wlby_329
{
	-webkit-animation-duration: 0.916667s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.9, 141.525);
}

.wlby_170
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.941, 136.712);
}

.wlby_330
{
	-webkit-animation-duration: 3.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 238.941, 136.712);
}

.wlby_241
{
	-webkit-animation-duration: 0.0833333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 241.573, 210.469);
}

.wlby_246
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 241.627, 208.235);
}

.wlby_245
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 244.1, 208.949);
}

.wlby_242
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 244.172, 211.066);
}

.wlby_243
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 245.524, 210.366);
}

.wlby_244
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 245.573, 209.66);
}

.wlby_176
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 285.99, 137.086);
}

.wlby_333
{
	-webkit-animation-duration: 3.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 285.99, 137.086);
}

.wlby_174
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 286.1, 140.946);
}

.wlby_332
{
	-webkit-animation-duration: 0.916667s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 286.1, 140.946);
}

.wlby_334
{
	-webkit-animation-duration: 3.16667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 286.113, 140.502);
}

.wlby_4
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 322.398, 245.771);
}

.wlby_208
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 331.409, 246.929);
}

.wlby_207
{
	-webkit-animation-duration: 1.83333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 331.409, 246.929);
}

.wlby_196
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 350.669, 238.951);
}

.wlby_190
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 356.269, 243.501);
}

.wlby_193
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 357.369, 245.701);
}

.wlby_186
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 357.419, 241.201);
}

.wlby_194
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 358.519, 233.401);
}

.wlby_199
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 358.569, 240.151);
}

.wlby_187
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 359.619, 253.601);
}

.wlby_185
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 359.669, 242.351);
}

.wlby_205
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 360.255, 206.555);
}

.wlby_33
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 360.295, 206.551);
}

.wlby_191
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 360.819, 236.701);
}

.wlby_192
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 361.869, 241.251);
}

.wlby_195
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 361.919, 242.401);
}

.wlby_198
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 361.919, 243.501);
}

.wlby_202
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 361.919, 244.651);
}

.wlby_206
{
	-webkit-animation-duration: 1.58333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 362.725, 250.025);
}

.wlby_2
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 362.975, 246.855);
}

.wlby_197
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 363.019, 239.001);
}

.wlby_188
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 363.019, 240.151);
}

.wlby_184
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 363.019, 246.851);
}

.wlby_200
{
	-webkit-animation-duration: 0.25s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 363.069, 239.001);
}

.wlby_189
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 364.169, 242.351);
}

.wlby_30
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 365.269, 244.651);
}

.wlby_203
{
	-webkit-animation-duration: 0.166667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 365.319, 244.651);
}

.wlby_201
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 366.419, 248.001);
}

.wlby_204
{
	-webkit-animation-duration: 0.0833333s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 368.669, 245.751);
}

.wlby_74
{
	position: absolute;
	-webkit-transform:matrix(0.643661,0,0,0.643661,195.75,262.5);
	-webkit-transform-origin: 0px 0px;
}

.wlby_179
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,134.9,66.9);
}

.wlby_181
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,381.9,63.2);
}

